.hr {
    display: none;
}
.hs {
    display: none;
}
.s {
    display: none;
}
.memes {
    display:none;
}
.cv {
    display: none;
}
.vv {
    display: none;
}
.vc {
    display: none;
}
.button {
    color: blue;
}
.memes {
    display: none;
}
body {
    background-color: yellow;
    text-align: center;
}
p {
    color: blue;
}